{% include 'base.html'%}

<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">
<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
Home
</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="#">Blog</a></li>
<li><a href="#">Store <span class="sr-only">(current)</span></a></li>



</ul>

<ul class="nav navbar-nav navbar-right">

<form class="navbar-form navbar-left " role="search">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search">
<span class="input-group-btn">
<button class="btn btn-default" type="button">Go!</button>
</span>
</div>

</form>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp



























<!-- Trigger the modal with a button -->
<button style="margin-top:8px;" type="button" class="btn btn-default " id="myBtn">Sign In/Up</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Sign In</h4>
</div>
<div class="modal-body">
<p>Some text in the modal.</p>

<form class="form-horizontal" role="form">
<div class="form-group">
<label class="control-label col-sm-2" for="email">Email:</label>
<div class="col-sm-10">
<input type="email" class="form-control" id="email" placeholder="Enter email">
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="pwd">Password:</label>
<div class="col-sm-10"> 
<input type="password" class="form-control" id="pwd" placeholder="Enter password">
</div>
</div>
<div class="form-group"> 
<div class="col-sm-offset-2 col-sm-10">
<div class="checkbox">
<label><input type="checkbox"> Remember me</label>
</div>
</div>
</div>
<div class="form-group"> 
<div class="col-sm-offset-2 col-sm-2">
<button type="submit" class="btn btn-default">Sign In</button>
<button style="margin-right: -167px;
margin-top: 0px;
float: right;" type="button" class="btn btn-default " id="myBtn1" data-toggle="collapse" data-target="#demo">Sign Up</button> 

</div>

</div>
</form>











</div>
<div class="modal-footer">
<div id="demo" class="collapse out" style="float: left;margin-top:60px;margin-left: 114px;">

<form class="form-horizontal" role="form">
<div class="form-group">
<label class="control-label col-sm-2" for="email"style="padding-right: 115px;
inline-size: auto;">Email:</label>
<div class="col-sm-10">
<input type="email" class="form-control" id="email" placeholder="Enter email">
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="pwd" style="padding-right: 115px;
inline-size: auto;">Password:</label>
<div class="col-sm-10"> 
<input type="password" class="form-control" id="pwd" placeholder="Enter password">
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="pwd1" style="padding-right: 115px;
inline-size: auto;">Re Password:</label>
<div class="col-sm-10"> 
<input type="password" class="form-control" id="pwd1" placeholder="Enter password">
</div>
</div>
<div class="form-group"> 
<div class="col-sm-offset-2 col-sm-10">
<div class="checkbox">
<label><input type="checkbox"> Receive New Notification</label>
</div>
</div>
</div>
<div class="form-group"> 
<div class="col-sm-offset-2 col-sm-10">
<button type="submit" class="btn btn-default">Sign Up</button>
</div>
</div>
</form>

</div>


</div>
</div>

</div>
</div>
</div>
<script>
$(document).ready(function(){
$("#myBtn").click(function(){
$("#myModal").modal();
});
});

</script>








<!-- <li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<strong class='glyphicon glyphicon-user'></strong> &nbsp&nbsp&nbsp<strong>adao nguyen</strong>
</a>
<ul class="dropdown-menu">
<li><a href="#">Cart</a></li>
<li><a href="#">Account</a></li>
<li><a href="#">Log Out</a></li> 
</ul>
</li>
-->


</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>















